* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.top {
    padding-bottom: 97px;
}

.header {
    padding-top: 51px;
    padding-bottom: 51px;
}

.title {
    margin-bottom: 117px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
}

.top__buttons {
    margin-top: 52px;

}
.top__logos {
    padding-top: 97px;
    padding-bottom: 96px;
}
